<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<body>
    <h1 class="ml-5 mb-5 mt-5 font-bold text-xl"> Add a Comment </h1>
    <br> 
    <div>        
        <form  action="/posts/comment/<%= posts.id %>" method="POST">
            <%- include('Commentfields') %>
        </form>
    </div>
    
</body>
</html>